/* app/article/[slug]/page.module.css */
.main {
  padding-top: 80px; /* Offset for fixed navbar */
  max-width: 800px;
  margin: 0 auto;
  padding: 0 px;
}

.title {
  font-size: 2.5rem;
  color: #2563eb;
  margin-bottom: 2rem;
}

.articleImage {
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
  max-width: 100%; /* Prevents overflow */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: rounded corners */
}

.content {
  font-size: 1rem;
  line-height: 1.6;
  color: #4b5563;
}

.content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 1rem 0;
}

.content h2 {
  font-size: 1.75rem;
  color: #2563eb;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.content ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.content li {
  margin-bottom: 0.5rem;
}




.custom-math {
    font-size: 18px;
    color: blue;
}



/* Scoped table styles */
.tableWrapper table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.tableWrapper th,
.tableWrapper td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tableWrapper th {
  background-color: #f2f2f2;
}

/* Scoped code block styles */
.codeWrapper pre {
  background: #2d2d2d;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}

.codeWrapper code {
  font-family: 'Courier New', monospace;
  color: #f8f8f2;
}